* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    display: block;
   }

header {
    background-color: #1B83E2;
    height: 66px;
    padding: 24px 0 24px 0;
}

select {
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
}

input {}
